/* ==========================================
   DP_Jagd V2
   sidebar.css
========================================== */

#sidebar{

    width:260px;

    background:#2c3e50;

    color:white;

    display:flex;

    flex-direction:column;

    transition:all .25s;

}

.logo{

    height:65px;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:24px;

    font-weight:bold;

    background:#233140;

}

#sidebar nav{

    flex:1;

    display:flex;

    flex-direction:column;

    padding-top:15px;

}

#sidebar button{

    background:none;

    border:none;

    color:white;

    padding:15px 20px;

    text-align:left;

    font-size:15px;

    transition:.2s;

}

#sidebar button:hover{

    background:#008080;

}

#sidebar button.active{

    background:#008080;

}

.sidebar-bottom{

    border-top:1px solid rgba(255,255,255,.15);

}

.sidebar-bottom button{

    color:#ffd7d7;

}

@media(max-width:768px){

#sidebar{

width:70px;

}

.logo{

font-size:28px;

}

.logo::after{

content:"";

}

#sidebar button{

padding:18px 0;

text-align:center;

font-size:22px;

}

}
