#sidebar{

    width:250px;

    background:#2c3e50;

    color:white;

    display:flex;

    flex-direction:column;

}

.logo{

    height:65px;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:22px;

    font-weight:bold;

    background:#233140;

}

#sidebar nav{

    flex:1;

}

#sidebar button{

    width:100%;

    background:none;

    border:none;

    color:white;

    text-align:left;

    padding:16px 20px;

    cursor:pointer;

    font-size:15px;

}

#sidebar button:hover{

    background:#008080;

}

.sidebar-footer{

    border-top:1px solid rgba(255,255,255,.2);

}

.sidebar-footer button{

    color:#ffdddd;

}

@media(max-width:700px){

#sidebar{

width:70px;

}

#sidebar button{

text-align:center;

padding:18px 0;

font-size:20px;

}

.logo{

font-size:24px;

}

}
